.AppStyle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2em;
    height: fit-content;
    background-color: #fff;
    border: solid 1px #fff;
    border-radius: 6px;
    box-sizing: border-box;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

    @media screen and (min-width:1280px) {
        grid-template-areas:
            "nova-tarefa tarefas"
            "cronometro tarefas"
        ;
        column-gap: 64px;
        grid-template-rows: min-content min-content;
        grid-template-columns: 750px 300px;
        justify-content: center;
        align-content: center;
        padding: 64px;
    }
}